<%= render '/shared/content_title', title: "Profile: #{@user.username}" %>

<div class="well">
  <div>
    <p><strong>Username:</strong> &nbsp;&nbsp;&nbsp; <%= @user.username %></p>
    <p><strong>Time zone:</strong> &nbsp;&nbsp;&nbsp; </p> <!-- Still needs timezone! -->
  </div>
</div>

<div>
  <p><strong><%= @user.username %>'s Activity</strong></p>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#posts">Posts(<%= @user.posts.count %>)</a>
  <li><a data-toggle="tab" href="#comments">Comments(<%= @user.comments.count %>)</a></li>
</ul>

<div class="tab-content">
  <div id="posts" class="tab-pane fade in active">
    <% @user.posts.each do |p| %>
      <%= render '/posts/post', post: p %>
    <% end %>
  </div>
  <div id="comments" class="tab-pane fade">
    <% @user.comments.each do |c| %>
      <%= render '/comments/comment', comment: c, post: Post.find(c.post_id) %>
    <% end %>
  </div>
</div>