<%= render '/shared/content_title', title: "Profile: #{@user.username}" %>

<div class="well">
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Timezone:</dt>
    <dd></dd>
  </dl>
</div>

<div>
  <p><strong><%= @user.username %>'s Activity</strong></p>
</div>

<ul class="nav nav-tabs">
  <li class="<%= "active" if params[:tab].nil? %>">
    <%= link_to "Posts (#{@user.posts.count})", user_path(@user) %>
  </li>
  <li class="<%= "active" if params[:tab] == "comments" %>">
    <%= link_to "Comments (#{@user.comments.count})", user_path(@user, tab: 'comments') %>
  </li>
</ul>


    <% if params[:tab].nil? %>
      <% @user.posts.each do |p| %>
        <%= render '/posts/post', post: p %>
      <% end %>
    <% elsif params[:tab] == 'comments' %>
      <% @user.comments.each do |c| %>
        <%= render '/comments/comment', comment: c, show_post: true %>
      <% end %>
    <% end %>


<!--
<div class="tab-content">
  <div id="posts" class="tab-pane fade in active">
    
  </div>
  <div id="comments" class="tab-pane fade">
    
  </div>
</div>
-->