<% if logged_in? && (current_user == @post.creator || current_user.admin?) %>
  <p class="pull-right">
    <%= link_to 'edit this post', edit_post_path(@post) %>
  </p>
<% end %>

<p>
  <!-- Rails assumes that there is a partial in views/categories/_category.html.erb and renders it for each category found.  Essentially an @post.categories.each -->
  <%= render @post.categories %>  
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<hr/>

<% if logged_in? %>
  <p>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', object: @comment %>

    <div class='control-group'>
      <%= f.label :body, "Make a comment" %>
      <%= f.text_area :body, rows: 4 %>
    </div>
    <br/>
    <%= f.submit "Create comment", class: "btn btn-primary" %>
  <% end %>
  </p>
<% end %>

<br/>

<% if @post.comments.count > 0 %>
  <h4>Comments:</h4>

  <p>
    <% @post_comments.each do |c| %>
      <%= render c, comment: c unless c.new_record? %>
    <% end %>
  </p>
<% end %>