<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>

<div class="nav_item btn-group pull-left">
  <%= link_to '#', class: 'btn dropdown-toggle btn-warning', 'data-toggle' => 'dropdown' do %>
    Categories <span class="caret"></span>
  <% end %>
  <ul class="dropdown-menu">
    <% Category.all.sort{|a,b| a.name <=> b.name }.each do |category| %>
      <li><%= link_to category.name, category_path(category) %>
    <% end %>
    <% if logged_in? and current_user.admin? %> <!-- Hide New Category button if not logged in -->
      <li role="separator" class="divider"></li>
      <li>
        <%= link_to(new_category_path) do %>
          <i class="icon-plus"></i>
          New Category
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<% if logged_in? %>  <!-- Hide New Post button if not logged in -->
  <div class="nav_item pull-left">
    <%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
  </div>
  <div class="nav_item btn-group pull-right">
    <%= link_to('', class: "btn btn-primary dropdown-toggle", 'data-toggle' => "dropdown") do %>
      <%= current_user.username %>
      <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <li>
        <%= link_to edit_user_path(current_user) do %>
          <i class='icon-pencil'></i>
          edit profile
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user) do %>
          <i class='icon-user'></i>
          view profile
        <% end %>
      </li>
      <li>
        <%= link_to logout_path do %>
          <i class='icon-circle-arrow-left'></i>
          logout
        <% end %>
      </li>
    </ul>
  </div>
  <div class="nav_item pull-right">
    <p class="navbar-text">Logged in as:</p>
  </div>  
<% else %>
  <div class="nav_item pull-right">s
    <%= link_to 'register', register_path, class: 'btn btn-success' %>
  </div>
  <div class="nav_item pull-right">
    <%= link_to 'login', login_path, class: 'btn btn-primary' %>
  </div>
<% end %>
